  /* main content */

  .container-main{
    position: absolute;
    background-color: black;
    padding-left: 1%;
    padding-right: 1%;

    
    display: grid;
    height: 100vh;
    
    grid-template-columns: 75% 22%;
    grid-gap: 1rem;
  }


  /* media query for responsiveness */

  @media screen and (max-width: 1300px) {
    .container-main {
      display: grid;
      grid-template-columns:1fr;
      background-color: black;
      /* height auto adjysts height automatically */
      height: auto;
    }
  }





  /* right head */

  .right-head{
    display: flex;
    justify-content: space-between;
  }



  /* main left  */

  .main-left{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /* height: 110vh; */
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .main-left::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }



  /* genres */

  .genre{
    display: flex;
    flex-wrap: wrap;    
    margin-left: 1rem;
    
  }

  .playlist-art{
    width:20%;
    height: 20%;
  }


  .playlist-art img{
    width: 85%;    
    transition: all 0.3s ease-in-out;
  }

  .playlist-art img:hover{
    transform: scale(1.1);    
  }

  /* latest release */

  .latest-release-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

  }
  

  .latest-songs{
    display: flex;
    justify-content: space-between;
    min-width: 45%;
    padding: 1rem;
    margin-left: 1rem;
  }

  .songs-left{
    display: flex;
  }

  .songs-right{
    text-align: center;
  }

  .poster img{
    width: 6rem;
    margin-right: 5px;

  }

  /* top artists section */

  .popular-artist-container{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .musicians a{
    text-decoration: none;
  }

  .musicians{
    width: 12rem;
    height: 12rem;
    /* background-image: url(../assets/artist1.jfif); */
    /* background-size: contain; */
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .artist-image img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  .artist-image img:hover{
    transform: scale(1.1);
    opacity: 0.5;
  }
  .artist-name{
    margin-top: 1rem;
    color: whitesmoke;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

/* media for top artist section */

  @media screen and (max-width: 1300px) {
    .popular-artist-container{
      display: flex;
      flex-shrink: 4;
      justify-content: space-around;
    }
    
  }



  /* radio section playlist */

  .radio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
    width: 93%;
    margin-left: 1rem;
    background-color: rgb(39, 39, 41);
    padding: 1.5rem;
  }


  .radio-playlist{
    width: 9rem;
  }

  .radio-playlist img{
    width: 9rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  .radio-head img{
    border-radius: 0px;

  }

  .radio-playlist img:hover{
    transform: scale(1.2);
  }



  /* mood playlist  */


  .mood{
    display: flex;
    /* flex-wrap: wrap; */
    flex-shrink: 2;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom:3rem ;
  }

  .mood-playlist{
    width: 30%;
    margin-left: 1rem;
    
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .mood-playlist img{
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .centered{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
  }


  .centered:hover{
    font-size: 2.1rem;
  }

  .mood-playlist img:hover{
    transform: scale(1.05);
    opacity: 0.8;
  }
  .mood-playlist:hover{
    transform: scale(1.1);
  }


  /* media for mood section font size inside image  */

   @media screen and (max-width: 860px) {
    .centered{
      color: white;
      font-size: 1.3rem;
    }
    
  }


  /* english tracks */

  .latest-english{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .english-poster{
    width: 12rem;
    margin-right:1.8rem;
  }

  .english-poster img{
    width: 12rem;
  }

  .track-name, .release-date{
    color: whitesmoke;
    flex-wrap: wrap;
    padding: 0.2rem;
    font-size: medium;

  }


  @media screen and (max-width: 940px) {
    .latest-english{
      

      display: flex;
      justify-content: space-around;
    }

    .latest-hindi{
      display: flex;
      justify-content: space-around;
    }

    .english , .hindi{
      text-align: center;
    }
    
  }

  /* latest hindi */
  .latest-hindi{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .hindi-poster{
    width: 12rem;
    margin-right:1.8rem;
  }

  .hindi-poster img{
    width: 12rem;
  }







