
.master-play{
    width: 100vw;
    height: 6rem;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(17, 17, 17);
    justify-content:center;
   
}



.leftside{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.leftside img{
    height: 4rem;
    margin-right: 1rem;
}

.middle i{
    color: white;
    margin-left: 3rem;

}
.middle{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.track-title,.artistname{
    color: whitesmoke;
    font-size: 0.9rem;
    margin:5px;
}

audio{
    width: 45rem;
    margin-right:3rem;
}


audio::-webkit-media-controls-panel {
    background: linear-gradient(to right, #909297, #333536);
  }
  
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(48, 113, 134, 0.7);
  }




/* sideplaylist on click master controls */


#master{
    display: none;
}


#master:target{        
    display: flex;
    
}

